@{
    ViewData["Title"] = "Abonados";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Abonados</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="~/">Inicio</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Abonados</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Abonados Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <h6 class="text-primary text-uppercase mb-2">GESTIÓN DE ABONADOS</h6>
                <h1 class="display-6 mb-4">¿Qué es?</h1>
                <p class="mb-4">Es una suscripción para poder tener un espacio donde estacionar en un espacio específico de una localidad específica, la cual puede ser contratada por un mes como mínimo.</p>
                <h1 class="display-6 mb-4">¿Dónde usarlo?</h1>
                <p class="mb-4">Puede ser usado en edificios, universidades, colegios, empresas, hoteles, playas de estacionamiento privadas, centros comerciales y/ o cualquier espacio que cuente con espacios para rentar.</p>
                <form>
                    <div class="row g-3">
                        <div class="col-12">
                            <a class="btn btn-primary py-3 px-5" href="~/Home/Cotizacionabonados">Abonate aquí</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 450px;">
                <div class="position-relative h-100">
                    <a href="cotizacion-abonados.html">
                        <img src="~/images/abonate.jpg" alt="img abonate" class="position-relative w-100 h-100">
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-xxl bg-light mt-2">
</div>
<!-- Abonados End -->
