@{
    ViewData["Title"] = "Administracion de Estacionamiento";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Administracion de estacionamiento </h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="~/">Inicio</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Administracion de Estacionamiento </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Administracion de estacionamiento  Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <h6 class="text-primary text-uppercase mb-2">ADMINISTRACIÓN DE ESTACIONAMIENTO</h6>
                <h1 class="display-6 mb-4">¿Qué es?</h1>
                <p class="mb-4">Es un servicio integral donde se garantiza el diseño e implementación de esquemas operativos que controlen y administren eficientemente el flujo vehicular de la playa de estacionamiento, estableciendo políticas tarifarias para el cobro del servicio.</p>
                <h1 class="display-6 mb-4">¿Dónde usarlo?</h1>
                <p class="mb-4">Puede ser usado en estadios, teatros, edificios, universidades, colegios, empresas, hoteles, playas de estacionamiento privadas, centros comerciales y/ o cualquier espacio que cuente con un estacionamiento para administrar.</p>
                <form>
                    <div class="row g-3">
                        <div class="col-12">
                            <a href="~/Home/Cotizacionadministracion" class="btn btn-primary py-3 px-5">Solicítalo aquí <i class="fa fa-magic"></i></a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 450px;">
                <div class="position-relative h-100">
                    <img src="~/images/parking-garage.jpg" alt="img admin estacionamiento" class="position-relative w-100 h-100">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Administracion de estacionamiento  End -->