@{
    @model ApiBD.Models.TbFormCotizano;
    ViewData["Title"] = "Cotizacion de Prevención";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Cotizacion de Prevención</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="~/">Inicio</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Cotizacion de Prevención</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Cuerpo page Start -->
<div class="container-xxl py-4">
    <div class="container">
        <div class="row mb-2">
            <div class="col">
                <div class="section_title text-center">
                    <h2>Bienvenido!</h2>
                    <p>Al sistema de Cotización de Central Parking System. Registra los siguientes datos.</p>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp bg-light p-5" data-wow-delay="0.1s" style="min-height: 450px;">
                <div class="position-relative h-100">
                    <h1 class="display-6 mb-4">Solicita tu <span class="text-primary">servicio</span></h1>
                    <p class="mb-4">Deja tus datos y muy pronto nos comunicaremos contigo.</p>
                    <p>¡Muchas gracias por tu preferencia!</p>
                    <h5 class=" mb-4 mt-4">LLAMANOS AL NUMERO</h5>
                    <p class="mb-2"><i class="fa fa-phone me-3 "></i>+511 505 5000</p>
                    <p class="mb-2">Horario de atención: Lunes a Viernes de 9:00 a.m. a 5:00 p.m.</p>
                    <h5 class=" mb-4 mt-4">SEDE CENTRAL</h5>
                    <p class="mb-2">
                        <i class="fa fa-map-marker-alt me-3"></i>Av. Javier Prado Oeste 1650, San Isidro
                        -
                        Lima - Peru
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <form asp-action="CotizanosPrevencion">
                    <div class="col-12">
                        <div class="form-floating">
                            <select class="form-control border-0 bg-light mb-4" id="tipoServicio" placeholder="Tipo Servicio" asp-for="TipoServicio">
                                <option value="5">PREVENCIÓN</option>
                            </select>
                            <label for="tipoServicio">Tipo de Servicio</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <select required name="distrito" id="distrito" class="form-control border-0 bg-light mb-4" placeholder="Distrito" asp-for="Distrito">
                                <option value="Cercado de Lima">Cercado de Lima</option>
                                <option value="Miraflores">Miraflores</option>
                                <option value="Pueblo Libre">Pueblo Libre</option>
                                <option value="San Isidro">San Isidro</option>
                                <option value="Surco">Surco</option>
                            </select>
                            <label for="distrito">Distrito</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input required type="text" class="form-control border-0 bg-light mb-4" id="direccion" name="direccion" placeholder="Direccion Estacionamiento" asp-for="Direccion">
                            <label for="direccion">Dirección Estacionamiento</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input required pattern="[0-9]{11}" title="Ingrese un RUC válido" type="text" class="form-control border-0 bg-light mb-4" id="ruc" name="ruc" placeholder="RUC" asp-for="Ruc">
                            <label for="ruc">RUC</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input required type="text" class="form-control border-0 bg-light mb-4" id="razonSocial" name="razonSocial" placeholder="Direccion Estacionamiento" asp-for="Direccion">
                            <label for="razonSocial">Razón Social</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input required type="text" class="form-control border-0 bg-light mb-4" id="contacto" name="contacto" placeholder="Datos del Contacto" asp-for="Contacto">
                            <label for="contacto">Datos del Contacto</label>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input required pattern="[0-9]{9}" title="Ingrese un número de celular válido" class="form-control border-0 bg-light" id="celular" name="celular" placeholder="Celular" asp-for="Celular">
                                <label for="celular">Celular</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input pattern="[0-9]{7}" title="Ingrese un número de telefono válido" class="form-control border-0 bg-light" id="telefono" name="telefono" placeholder="Teléfono" asp-for="Telefono">
                                <label for="telefono">Teléfono</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input required type="email" class="form-control border-0 bg-light" id="correoElectronico" name="correoElectronico" placeholder="Correo electrónico" asp-for="CorreoElectronico">
                                <label for="correoElectronico">Correo electrónico</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-6 w-50">
                                <i class="fas fa-check-square"></i>
                                Registrar mi cotización
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Cuerpo page End -->