<div class="modal fade" id="condiciones_uso" tabindex="-1" aria-labelledby="modalCondicionesUso" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content rounded-1">
            <div class="modal-header ">
                <h3 class="modal-title" id="modalCondicionesUso">Condiciones de uso</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Accordion wrapper-->
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.1s">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                            aria-expanded="false" aria-controls="collapseOne">
                                        1. 1. INFORMACIÓN GENERAL
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse"
                                     aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Las condiciones siguientes regulan la información y el uso permitido del
                                            sitio Web , que la empresa Central Parking System S.A., en adelante
                                            Central Parking System, pone a disposición de clientes, proveedores y
                                            otros Usuarios de Internet, en adelante los Usuarios.

                                            El sitio Web ha sido creado y diseñado con la finalidad de publicitar
                                            los productos y servicios que comercializamos y dar información sobre
                                            los mismos, así como facilitar otro tipo de información que creemos
                                            puede ser de interés y crear así un espacio de comunicación para los
                                            Usuarios.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                        2. 2. CONDICIONES GENERALES
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                     aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            El acceso al sitio Web y la navegación por el mismo implica la
                                            aceptación, sin reservas, de todas las condiciones incluidas en este
                                            documento. La utilización de determinados productos y/o servicios
                                            ofrecidos en este sitio Web se regirá, además, por las condiciones
                                            particulares previstas en cada caso, las cuales se entenderán aceptadas
                                            por el solo uso de estos productos y/o servicios.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                        3. 3. CONDICIONES DE USO
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                     aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            El Usuario se obliga a hacer un uso correcto del sitio Web de conformidad
                                            con la legislación peruana vigente y con las condiciones incluidas en
                                            este documento. El Usuario responderá frente a Central Parking System o
                                            frente a terceros, por cualquier daño y/o perjuicio que pudiera causarse
                                            como consecuencia del incumplimiento de dichas obligaciones. Queda
                                            expresamente prohibido el uso del sitio Web con fines lesivos de bienes
                                            o intereses de Central Parking System o terceros o que sobrecarguen,
                                            dañen o inutilicen las redes, servidores y demás equipos informáticos o
                                            productos y aplicaciones informáticas de Central Parking System o de
                                            terceros. Central Parking System se reserva la facultad de efectuar, en
                                            cualquier momento y sin necesidad de previo aviso las modificaciones y
                                            actualizaciones de la información contenida en el sitio Web que resulten
                                            pertinentes, así como de la configuración y presentación de este y de
                                            sus Condiciones de Uso. La prestación del servicio del sitio Web tiene
                                            una duración limitada al momento en el que el Usuario se encuentre
                                            conectado al mismo o a alguno de los servicios que a través de éste se
                                            facilitan. Por eso se recomienda que los Usuario lean atenta y
                                            detenidamente estas Condiciones de Uso en cada ocasión en que se
                                            proponga entrar y hacer uso del sitio Web, puesto que pueden estar
                                            sujetas a modificaciones. Central Parking System no garantiza la
                                            inexistencia de interrupciones o errores en el acceso al sitio Web o a
                                            su contenido, ni que éste se encuentre actualizado. Central Parking
                                            System llevará a cabo, siempre que no implique causas que lo hagan
                                            imposible o de difícil ejecución, y tan pronto tenga noticia de los
                                            errores, desconexiones o falta de actualización en los contenidos, todas
                                            aquellas tareas necesarias para resolver los errores, restablecer la
                                            comunicación y actualizar los contenidos. Tanto el acceso al sitio Web
                                            como el uso no autorizado que pueda efectuarse de la información
                                            contenida en el mismo es responsabilidad exclusiva de quien lo realiza.
                                            Central Parking System no responderá de ninguna consecuencia, daño o
                                            perjuicio que pudieran derivarse de este acceso o uso. Central Parking
                                            System no se hace responsable de los errores de seguridad, que se puedan
                                            producir ni de los daños que puedan producirse en el sistema informático
                                            del Usuario, o a los ficheros o documentos almacenados en el mismo, como
                                            consecuencia: de la presencia de un software malicioso en el ordenador
                                            del Usuario que sea utilizado para la conexión a los contenidos del
                                            sitio Web, de un mal funcionamiento del navegador o del uso de versiones
                                            no actualizadas del navegador. Central Parking System no asume ninguna
                                            responsabilidad derivada de los contenidos enlazados desde el sitio Web,
                                            siempre que sean ajenos al mismo, ni garantiza la ausencia de software
                                            malicioso u otros elementos en los mismos que puedan producir
                                            alteraciones en el sistema informático, en los documentos o en los
                                            ficheros del Usuario, excluyendo cualquier responsabilidad por los daños
                                            de cualquier tipo causados por este motivo. Si cualquier Usuario
                                            considerara que el contenido o los servicios prestados por los sitios
                                            Webs enlazados son ilícitos o lesionan bienes o derechos del propio
                                            Usuario o de un tercero, y que esto puede dar mérito del pago de una
                                            indemnización, tendrá que notificarlo a Central Parking System.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour">
                                        4. 4. PROCEDIMIENTO EN CASO DE REALIZACIÓN DE ACTIVIDADES DE CARÁCTER
                                        ILÍCITO
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                     aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Si un Usuario considera que existen hechos o circunstancias que revelen
                                            el carácter ilícito de la utilización de cualquier contenido y/o de la
                                            realización de cualquier actividad en el sitio Web, y en particular, de
                                            la violación de derechos de propiedad intelectual o industrial u otros
                                            derechos, tendrá que enviar una notificación a Central Parking System
                                            con el siguiente contenido: I. Datos de la persona o entidad que hace la
                                            reclamación: nombre, dirección, teléfono y dirección de correo
                                            electrónico. II. Descripción de la supuesta actividad ilícita llevada a
                                            cabo en el sitio Web y, en particular, cuando se trate de una supuesta
                                            violación de derechos, la indicación precisa y concreta de los
                                            contenidos protegidos así como de su localización en el sitio Web, y los
                                            hechos o circunstancias que revelan el carácter ilícito de esta
                                            actividad. III. Firma manuscrita o equivalente, con datos personales del
                                            titular de los derechos supuestamente infringidos o de la persona
                                            autorizada para actuar en nombre y por cuenta de esta.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                            aria-expanded="false" aria-controls="collapseFive">
                                        5. 5. DATOS DE CONTACTO
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse"
                                     aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Se pone a disposición de los Usuarios de Internet la siguiente
                                            información para poder dirigir sus peticiones, cuestiones y quejas
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                            aria-expanded="false" aria-controls="collapseSix">
                                        6. 6. DATOS FACILITADOS POR EL USUARIO DE INTERNET
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse"
                                     aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            A todos los efectos el acceso al sitio Web no exige la previa
                                            suscripción o registro de los Usuario. Central Parking System condiciona
                                            el uso del acceso a la parte privada del sitio Web a los clientes y
                                            proveedores, mediante la introducción de un usuario y contraseña, que
                                            Central Parking System facilita directamente. Para contactar con Central
                                            Parking System por correo electrónico, se requiere que el Usuario
                                            facilite sus datos mediante un formulario. Los datos facilitados por el
                                            Usuario pasarán a integrarse en un banco de datos, los cuales serán
                                            tratados según la Política de Privacidad que puede encontrar en este
                                            mismo sitio Web.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                            aria-expanded="false" aria-controls="collapseSeven">
                                        7. 7. ENLACES
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse"
                                     aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            El establecimiento de un enlace al sitio Web, implica la existencia de
                                            relaciones pasadas o presentes entre Central Parking System y el
                                            propietario del sitio Web donde se establezca, no implica por parte de
                                            Central Parking System ni la aceptación ni la aprobación de sus
                                            contenidos o servicios. Queda expresamente prohibido cualquier otro
                                            aprovechamiento de los contenidos del sitio Web, a favor de terceros no
                                            autorizados. Central Parking System no asume ninguna responsabilidad por
                                            la información contenida en sitios Webs de terceros a los que se pueda
                                            acceder por enlaces o buscadores desde el Web.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingEigth">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseEigth"
                                            aria-expanded="false" aria-controls="collapseEigth">
                                        8. 8. PROPIEDAD INTELECTUAL E INDUSTRIAL
                                    </button>
                                </h2>
                                <div id="collapseEigth" class="accordion-collapse collapse"
                                     aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Central Parking System es titular de los derechos de propiedad
                                            intelectual que hacen referencia a sus productos y servicios, respecto a
                                            las citas de terceros. Está prohibida la reproducción, transformación,
                                            distribución, comunicación pública, puesta a disposición, extracción,
                                            reutilización, o la utilización de cualquier naturaleza, por cualquier
                                            medio o procedimiento, de cualquiera de ellos, salvo en los casos en que
                                            sea autorizado por el titular de los correspondientes derechos. La
                                            utilización no autorizada de la información contenida en el sitio Web,
                                            su reventa y la lesión de los derechos de Propiedad Intelectual de
                                            Central Parking System dará lugar a las responsabilidades legalmente
                                            establecidas. Los Usuarios tendrán que respetar todos los derechos de
                                            propiedad intelectual e industrial sobre el sitio Web.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingNine">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseNine"
                                            aria-expanded="false" aria-controls="collapseNine">
                                        9. 9. PROTECCIÓN DE DATOS PERSONALES
                                    </button>
                                </h2>
                                <div id="collapseNine" class="accordion-collapse collapse"
                                     aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Toda la información referente al tratamiento y la protección de los
                                            datos personales, que nos son facilitados, se encuentra en nuestra
                                            Política de Privacidad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingTen">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTen"
                                            aria-expanded="false" aria-controls="collapseTen">
                                        10. 10. COOKIES
                                    </button>
                                </h2>
                                <div id="collapseTen" class="accordion-collapse collapse"
                                     aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Toda la información sobre las cookies en general y sobre las que se
                                            utilizan en el sitio Web en particular se encuentra en nuestra Política
                                            de Cookies.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingEleven">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseEleven"
                                            aria-expanded="false" aria-controls="collapseEleven">
                                        11. 11. JURISDICCIÓN
                                    </button>
                                </h2>
                                <div id="collapseEleven" class="accordion-collapse collapse"
                                     aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Las presentes Condiciones de Uso Web se interpretarán conforme a la
                                            legislación peruana vigente sobre la materia, que se aplicará
                                            subsidiariamente en todo lo que no se haya previsto en las mismas. Para
                                            la resolución de todas las controversias o cuestiones relacionadas con
                                            el sitio Web o de las actividades en él desarrolladas, será de
                                            aplicación la legislación peruana vigente, a la cual se someten
                                            expresamente Central Parking System y los Usuarios, con renuncia expresa
                                            a cualquier otro fuero, siendo competentes para la resolución de todos
                                            los conflictos derivados o relacionados con su uso los Juzgados y
                                            Tribunales del Distrito Judicial del Cercado de Lima.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion wrapper -->
            </div>
        </div>
    </div>
</div>