@model ApiBD.Models.Home.IndexVM;
@if (Model.ListModalDet12.Count != 0)
{

    <div class="modal fade" id="condiciones_uso" tabindex="-1" aria-labelledby="modalCondicionesUso" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content rounded-1">
                <div class="modal-header ">
                    <h3 class="modal-title" id="modalCondicionesUso">@Model.ModalCabs7.Titulo</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--Accordion wrapper-->
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="accordion" id="accordionExample">
                                @foreach (var item in Model.ListModalDet12)
                                {
                                    <div >
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                    aria-expanded="false" aria-controls="collapseOne">
                                                @item.Titulo
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse"
                                             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>
                                                    @item.Descripcion
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                }


                            </div>
                        </div>
                    </div>
                    <!-- Accordion wrapper -->
                </div>
            </div>
        </div>
    </div>
    
}