<div class="modal fade" id="informacion_legal" tabindex="-1" aria-labelledby="modalInfoLegal"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content rounded-1">
            <div class="modal-header ">
                <h3 class="modal-title" id="modalInfoLegal">Información legal</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Accordion wrapper-->
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="accordion" id="accordionInfoLegal">
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.1s">
                                <h2 class="accordion-header" id="headingOne3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3">
                                        1. Información Genérica de la Empresa
                                    </button>
                                </h2>
                                <div id="collapseOne3" class="accordion-collapse collapse" aria-labelledby="headingOne3"
                                     data-bs-parent="#accordionInfoLegal">
                                    <div class="accordion-body">
                                        <p>
                                            Identificación del proveedor inmobiliario: Central Parking System S.A., con RUC N° 20301837896, domicilio legal en Jirón Mariscal La Mar 991, piso 7, distrito de Magdalena del Mar, provincia y departamento de Lima, con representantes legales inscritos en la Partida Electrónica N° 11008436 del Registro de Personas Jurídicas de Lima. Teléfono de contacto: 211-4470. Antecedentes del proveedor y su comportamiento en el mercado de productos y servicios inmobiliarios: Tenemos más de 50 años, hemos aportado con mejorar la calidad de vida de miles de familias, dándoles la oportunidad de acceder a una vivienda digna. Nuestra misión es desarrollar proyectos inmobiliarios a nivel nacional en los rubros de habilitación urbana, edificaciones multifamiliares y viviendas de interés social, diferenciados por la alta calidad y ubicación estratégica de nuestros proyectos con la garantía y prestigio de nuestra empresa. Canales para atención de quejas, reclamos o denuncias: pueden presentarse a través de: www.losportales.com.pe/vivienda/micuenta o www.losportales.com.pe/vivienda/contáctanos, mediante medio físico directamente en las oficinas de Servicio al Cliente de la empresa o a través de los Libros de Reclamaciones. Se deja constancia de la existencia de la Central de información de Promotores Inmobiliarios y/o Empresas Constructoras de Unidades Inmobiliarias, del Registro de Infracciones y Sanciones por el incumplimiento de las disposiciones del Código de Protección y Defensa del Consumidor a cargo del Indecopi, y del portal Mira a Quien le Compras, a cargo, también, del Indecopi.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                <h2 class="accordion-header" id="headingTwo3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
                                        2. Financiamiento del Precio de Venta (Crédito Directo) ofrecido por la Empresa
                                    </button>
                                </h2>
                                <div id="collapseTwo3" class="accordion-collapse collapse" aria-labelledby="headingTwo3"
                                     data-bs-parent="#accordionInfoLegal">
                                    <div class="accordion-body">
                                        <p>
                                            Central Parking System S.A. ofrece a los clientes interesados en adquirir inmuebles, el financiamiento del precio de venta de algunos de sus productos (Crédito Directo), que consiste en el fraccionamiento del precio de venta en cuotas mensuales, todas las cuales incluyen los intereses y gastos administrativos que cobra la empresa en virtud al Crédito Directo. La cantidad máxima de cuotas mensuales es establecida por la empresa y dependerá del producto ofrecido. Asimismo, existen restricciones para el financiamiento de más de un inmueble. Los documentos que deben presentarse para acceder al Crédito Directo son: i) Documento Nacional de Identidad Vigente y ii) Recibos de Luz, Agua y/o Teléfono. En caso el cliente y Central Parking System S.A. convengan en contratar bajo la modalidad de Crédito Directo, los pagos se efectuarán de manera mensual, incluyendo los intereses y gastos administrativos correspondientes, los cuales se aplican a todo el cronograma de pagos, desde la primera hasta la última cuota pactada. Asimismo, el cliente aceptará letras de cambio que representen cada una de las cuotas mensuales que se obliga a abonar a favor de la empresa. El crédito directo se formaliza mediante la firma de un contrato con la empresa, del cual forma parte como anexo la Hoja Resumen de la Operación (Proforma de Ventas), con las firmas del cliente y de la empresa. En dicha hoja resumen consta el detalle de cada operación específica, el cual dependerá del monto que abone el cliente al momento de la firma del contrato y la cantidad de cuotas que representen el saldo del precio de venta. Además la Hoja Resumen de la Operación (Proforma de Ventas) se incluyen los siguientes puntos: precio de venta del inmueble, con mención específica de los montos correspondientes a intereses y gastos administrativos, tasas de interés, gastos administrativos, penalidades, detalle sobre pre-pago de saldos, etc.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingThree3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                        3. Respecto al Crédito Directo de manera genérica
                                    </button>
                                </h2>
                                <div id="collapseThree3" class="accordion-collapse collapse" aria-labelledby="headingThree3"
                                     data-bs-parent="#accordionInfoLegal">
                                    <div class="accordion-body">
                                        <p>
                                            a. Tasa de Costo Efectivo Anual de las operaciones con Crédito Directo: 23 % b. Monto de los intereses: dependerá de cada operación concreta, en base al monto que abone el cliente al momento de la firma del contrato y número de cuotas que representen el saldo de precio de venta. Quedará detallada expresamente en la Hoja Resumen de la Operación (Proforma de Ventas). c. Número de cuotas o pagos a realizar: el número máximo de cuotas es establecido por la empresa y dependerá del producto elegido. Dentro de este límite máximo el cliente puede escoger la cantidad de cuotas en las desee fraccionar el precio de venta del inmueble. d. Periodicidad de las cuotas: mensual e. Fecha de pago de las cuotas: primer día hábil de cada mes. f. Cantidad total a pagar por el inmueble: dependerá de cada operación concreta, en base al monto que abone el cliente al momento de la firma del contrato y número de cuotas que representen el saldo de precio de venta. Quedará detallada expresamente, incluyendo el precio al contado, intereses y gastos administrativos en la Hoja Resumen de la Operación (Proforma de Ventas). g. Prepago: El cliente tiene derecho a solicitar a la empresa el prepago del saldo del precio de venta pendiente de pago, en cuyo caso deberá manifestar este requerimiento y solicitar se efectúe el cálculo y liquidación del saldo de la deuda pendiente de pago. La empresa preparará la liquidación correspondiente, procediendo al descuento de los intereses y gastos administrativos no pagados a la fecha en que se efectúe dicho prepago. Aquellos intereses y gastos administrativos pagados a la fecha del pre-pago no serán materia de devolución. h. Intereses Moratorios y Comisiones de Cobranza: Si el cliente no cumpliera con pagar en su fecha alguna de las cuotas fraccionadas del precio de venta deberá abonar a la empresa intereses moratorios sobre el monto de las obligaciones vencidas, sin que sea necesaria la constitución en mora, en base a la tasa máxima que tiene establecida el Banco Central de Reserva del Perú para las personas ajenas al sistema financiero, al día de realización del pago. Asimismo, en caso de incumplimiento de pago, la empresa queda facultada a cobrar comisiones de cobranza y los intereses compensatorios convencionales que pudieren generarse. Las cifras de la comisión de cobranza son las siguientes: i) desde el primer día de incumplimiento hasta el tercer día, la comisión asciende a US$ 5.00 (Cinco y 00/100 Dólares Americanos); ii) desde el cuarto día de incumplimiento hasta el quinto la comisión asciende a US$ 10.00 (Diez y 00/100 Dólares Americanos); desde el sexto día de incumplimiento hasta el octavo, la comisión asciende a US$ 15.00 (Quince y 00/100 Dólares Americanos). Las cantidades previamente indicadas se cobrarán por día de incumplimiento, efectuando la sumatoria de los días de atraso en el pago y monto de comisión de cobranza que corresponde a cada día. i. Cláusulas penales: i) Resolución por incumplimiento de pago: En caso el cliente incumpla con el abono de tres cualesquiera de las cuotas establecidas en la Hoja Resumen de la Operación (Proforma de Ventas) o cualesquiera de las dos últimas, la empresa podrá optar, a su sola decisión, por cualquiera de las dos siguientes posibilidades: 1.- Dar por resuelto unilateralmente y de pleno derecho el contrato suscrito mediante el envío de una carta notarial, en los términos establecidos en el Artículo N° 1430 del Código Civil, en cuyo caso retendrá el 30% del precio de venta pactado por concepto de penalidad, el cual será descontado del monto pagado a cuenta del capital abonado por el cliente. Los intereses compensatorios y gastos administrativos pagados por éste a la fecha de la resolución, no serán materia de devolución, circunstancia que éste declara conocer y aceptar. 2.- Dar por vencidas todas las cuotas pendientes de pago y exigir judicialmente el pago del total adeudado, incluyendo intereses compensatorios y moratorios, gastos administrativos, comisiones de cobranza, además de los daños y perjuicios que pudieren corresponder. En el supuesto de envío de cartas notariales, éstas serán dirigidas al domicilio expresado por el cliente en la introducción del contrato suscrito. j. Monto y detalle de cualquier cargo adicional: En el supuesto que las letras de cambio suscritas por el cliente sean ingresadas a una institución bancaria o financiera para facilitar su labor de cobranza, los gastos que cobre el banco por el retiro de las letras en casos de prepago serán asumidos por el cliente. k. Las letras de cambio que aceptará el cliente podrán ser ingresadas por la empresa a una entidad bancaria o financiera del sistema para la gestión de cobranza, en calidad de garantía o fideicomiso. Las letras contienen las siguientes cláusulas: i) En caso de mora, ésta Letra de Cambio, generará las tasas de interés compensatorio y moratorios convencionales más altos, que establezca el BCR para personas ajenas al sistema financiero; ii) El plazo de vencimiento podrá ser prorrogado por el tenedor por el plazo que este señale, sin que sea necesaria la intervención del obligado principal ni de los solidarios; iii) Esta letra de Cambio no requiere ser protestada por falta de pago; iv) Esta letra podrá ser girada, endosada y/o transferida con firmas impresas, digitalizadas u otros medios de seguridad gráficos (art. 6° Ley 2787).23% l. Las letras de cambio ingresadas a las entidades bancarias y/o financieras no serán devueltas físicamente al cliente, por ser esta la política más común entre dichas entidades, quienes están facultadas a dejar constancia del pago o extinción de las letras de cambio mediante otros medios legales autorizados, como por ejemplo, el comprobante de pago entregado en la ventanilla del banco, el cual debe ser verificado y conservado por el cliente. En caso la entidad bancaria o financiera cuente con un procedimiento de devolución física de letras de cambio, si el cliente requiere su devolución deberá asumir los gastos que la misma signifique, dependiendo de la política de cobros de cada entidad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingFour3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour3" aria-expanded="false" aria-controls="collapseFour3">
                                        4. Financiamiento del Precio de Venta otorgado por Entidades Bancarias o Financieras
                                    </button>
                                </h2>
                                <div id="collapseFour3" class="accordion-collapse collapse" aria-labelledby="headingFour3"
                                     data-bs-parent="#accordionInfoLegal">
                                    <div class="accordion-body">
                                        <p>
                                            En caso que el financiamiento del precio de venta o parte de este sea otorgado por una entidad bancaria o financiera para la adquisición de cualquiera de nuestros productos inmobiliarios, será esta entidad la que detalle las condiciones de dicho financiamiento, de acuerdo a las disposiciones del Código de Protección y Defensa del Consumidor y de las emitidas por la Superintendencia de Banca, Seguros y Administradoras Privadas de Fondos de Pensiones.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingFive3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFive3" aria-expanded="false" aria-controls="collapseFive3">
                                        5. Política de Calidad
                                    </button>
                                </h2>
                                <div id="collapseFive3" class="accordion-collapse collapse" aria-labelledby="headingFive3"
                                     data-bs-parent="#accordionInfoLegal">
                                    <div class="accordion-body">
                                        <p>
                                            Somos Central Parking System Estacionamientos, una organización líder en el sector. Contamos con una moderna infraestructura, tecnología de punta y personal altamente calificado para brindar un servicio de calidad, facilitándole la vida a las personas, las empresas y la sociedad. En nuestra empresa estamos comprometidos a: - Brindar y mantener los más altos estándares de calidad mediante cultura de servicio centrada en el cliente, garantizando su satisfacción a todas horas y en todos los días del año. - Cumplir las normas y requisitos aplicables a nuestro sector, promoviendo la mejora continua de nuestros procesos y las buenas prácticas de gestión de calidad, implementadas durante años de trabajo y experiencia. Esta política se encuentra a disposición de todos los interesados para su divulgación y utilización hacia la mejora continua. Ha sido revisada y aprobada por la Gerencia de Operaciones y Experiencia del Cliente de Central Parking System ESTACIONAMIENTOS el 09 del mes de noviembre del año 2017.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion wrapper -->
            </div>
        </div>
    </div>
</div>
<!-- Políticas de Cookies Modal End -->