@{
    ViewData["Title"] = "Otros Servicios";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Otros servicios </h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="~/">Inicio</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Otros servicios </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Otros servicios  Start -->
<div class="container-xxl bg-light ">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="display-6 mb-4">VALET PARKING</h3>
                <p class="mb-5">Te ayudamos a que tus colaboradores tengan la tranquilidad de estacionar sin problemas</p>
                <a class="btn btn-primary py-3 px-5" href="~/Home/CotizacionValetParking">Solicítalo aquí</a>
                <a class="btn btn-outline-primary py-3 px-5" href="~/Home/ValetParking">Conoce más</a>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative overflow-hidden  h-100" style="min-height: 400px;">
                    <img class="position-absolute w-75 h-75" src="~/images/Valet-Parking.jpg" alt="" style="object-fit: cover;">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-6 ">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="display-6 mb-4">EVENTOS</h3>
                <p class="mb-5">Tus clientes e invitados solo se preocuparán por pasarla bien. Nosotros nos encargamos de lo demás.</p>
                <a class="btn btn-primary py-3 px-5" href="~/Home/CotizacionEventos">Solicítalo aquí</a>
                <a class="btn btn-outline-primary py-3 px-5" href="~/Home/Eventos">Conoce más</a>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative overflow-hidden  h-100" style="min-height: 400px;">
                    <img class="position-absolute w-75 h-75" src="~/images/Mozo2.jpg" alt="" style="object-fit: cover;">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl bg-light ">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="display-6 mb-4">PREVENCIÓN</h3>
                <p class="mb-5">Te ayudamos a que tus colaboradores tengan la tranquilidad de estacionar sin problemas</p>
                <a class="btn btn-primary py-3 px-5" href="~/Home/CotizacionPrevencion">Solicítalo aquí</a>
                <a class="btn btn-outline-primary py-3 px-5" href="~/Home/Prevencion">Conoce más</a>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative overflow-hidden  h-100" style="min-height: 400px;">
                    <img class="position-absolute w-75 h-75" src="~/images/prevencion.jpg" alt="" style="object-fit: cover;">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-6 ">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="display-6 mb-4">RENTABILIZACIÓN DE TERRENOS</h3>
                <p class="mb-5">Tus clientes e invitados solo se preocuparán por pasarla bien. Nosotros nos encargamos de lo demás.</p>
                <a class="btn btn-primary py-3 px-5" href="~/Home/CotizacionRentabilizacion">Solicítalo aquí</a>
                <a class="btn btn-outline-primary py-3 px-5" href="~/Home/Rentabilizacion">Conoce más</a>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative overflow-hidden  h-100" style="min-height: 400px;">
                    <img class="position-absolute w-75 h-75" src="~/images/rentablizaccion.jpg" alt="" style="object-fit: cover;">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Otros servicios  End -->