@{
    ViewData["Title"] = "Valet Parking";
}
<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Valet Parking </h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="~/">Inicio</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Valet Parking </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Valet Parking  Start -->
<div class="container-xxl bg-light ">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase mb-2">VALET PARKING</h6>
                <h5 class="display-6 mb-4">¿Qué es?</h5>
                <p class="mb-5">Servicio Personalizado ubicado en el ingreso del inmueble; Consiste en estacionar los vehículos de los visitantes y/o clientes en el espacio designado. Cuando el visitante y/o cliente retorna, el personal del valet devuelve su auto a un lugar designado.</p>
                <h5 class="display-6 mb-4">¿Dónde usarlo?</h5>
                <p class="mb-5">Puede ser usado en eventos, hoteles, restaurantes y/ o cualquier espacio que necesite un servicio personalizado para que estacione los vehículos en el espacio asignado.</p>
                <a class="btn btn-primary py-3 px-5" href="~/Home/CotizacionValetParking">Solicítalo aquí</a>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative overflow-hidden pe-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="~/images/Valet-Parking.jpg" alt="" style="object-fit: cover;">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Valet Parking  End -->