@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var fechaActual = DateTime.Now.ToString("dddd, dd MMMM yyyy");
}

<div class="content-wrapper">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold">Bienvenido  </h3>
                            <h6 class="font-weight-normal mb-0">al sistema Administrador de  <span class="text-primary">Central Parking System</span></h6>
                        </div>
                        <div class="col-12 col-xl-4">
                            <div class="justify-content-end d-flex">
                                <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                    <button class="btn btn-sm btn-light bg-white " type="button" id="dropdownMenuDate2">
                                        <i class="mdi mdi-calendar"></i> Hoy (@fechaActual)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Agregar más contenido aquí si es necesario -->
       
    </div>
    <!-- statistics data -->
    <div class="statistics">
        <div class="row">
            <div class="col-xl-6 pr-xl-2">
                <div class="row">
                    <div class="col-sm-6 pr-sm-2 statistics-grid">
                        <div class="card card_border border-primary-top p-4">
                            <i class="ti-user"> </i>
                            <h3 class="text-primary number">2</h3>
                            <p class="stat-text">Total Usuarios</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pl-sm-2 statistics-grid">
                        <div class="card card_border border-primary-top p-4">
                            <i class="ti-headphone-alt "> </i>
                            <h3 class="text-secondary number">5</h3>
                            <p class="stat-text">Contactanos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 pl-xl-2">
                <div class="row">
                    <div class="col-sm-6 pr-sm-2 statistics-grid">
                        <div class="card card_border border-primary-top p-4">
                            <i class=" ti-write"> </i>
                            <h3 class="text-success number">16</h3>
                            <p class="stat-text">Cotizanos</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pl-sm-2 statistics-grid">
                        <div class="card card_border border-primary-top p-4">
                            <i class="ti-truck"> </i>
                            <h3 class="text-danger number">12</h3>
                            <p class="stat-text">Proveedores</p>
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
        <div class="row mt-2">
            <div class="col-xl-6 pl-xl-2">
                <div class="row">
                    <div class="col-sm-6 pr-sm-2 statistics-grid">
                        <div class="card card_border border-primary-top p-4">
                            <i class="ti-book"> </i>
                            <h3 class="text-success number">16</h3>
                            <p class="stat-text">Hoja de reclamaciones</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pl-sm-2 statistics-grid">
                        <div class="card card_border border-primary-top p-4">
                            <i class="ti-bookmark"> </i>
                            <h3 class="text-danger number">0</h3>
                            <p class="stat-text">Parking card vip</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 pl-xl-2">
                <div class="row">
                    <div class="col-sm-6 pr-sm-2 statistics-grid">
                        <div class="card card_border border-primary-top p-4">
                            <i class="ti-target"> </i>
                            <h3 class="text-success number">3</h3>
                            <p class="stat-text">Vacantes</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pl-sm-2 statistics-grid">
                        <div class="card card_border border-primary-top p-4">
                            <i class="ti-star"> </i>
                            <h3 class="text-danger number">5</h3>
                            <p class="stat-text">Servicios</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- //statistics data -->
        
    </div>
</div>
<!-- content-wrapper ends -->
