@model ApiBD.Models.TbIndRedsocial

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Edit</h1>

<h4>TbIndRedsocial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clasehead" class="control-label"></label>
                <input asp-for="Clasehead" class="form-control" />
                <span asp-validation-for="Clasehead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ruta" class="control-label"></label>
                <input asp-for="Ruta" class="form-control" />
                <span asp-validation-for="Ruta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clasefoot" class="control-label"></label>
                <input asp-for="Clasefoot" class="form-control" />
                <span asp-validation-for="Clasefoot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icono" class="control-label"></label>
                <input asp-for="Icono" class="form-control" />
                <span asp-validation-for="Icono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

